In [1]:
import numpy as np
import pandas as pd

In [6]:
df_im = pd.read_csv('임세은.csv')
df_j = pd.read_csv('이장우.csv')
df_m = pd.read_csv('문지원.csv')

In [13]:
df_im = df_im.select_dtypes(include=[np.number])
df_j = df_j.select_dtypes(include=[np.number])
df_m = df_m.select_dtypes(include=[np.number])

In [102]:
# NaN 값 확인
df_j.isna().sum()

Unnamed: 0        0
PassengerId       0
Survived          0
Pclass            0
SibSp             0
Parch             0
Fare              0
Agegroup          0
Marriage_label    0
Agegroup_label    0
dtype: int64

In [78]:
# 컬럼명 확인
df_m.columns

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp',
       'Parch', 'Fare'],
      dtype='object')

In [79]:
# NaN 있는 컬럼 제외 후 저장
df_m=df_m[['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'SibSp',
       'Parch', 'Fare']]

In [80]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Survived     891 non-null    int64
 3   Pclass       891 non-null    int64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [81]:
# 정수형으로 변환
df_m = df_m.astype('int')

In [82]:
df_m

     Unnamed: 0  PassengerId  Survived  Pclass  SibSp  Parch  Fare
0             0            1         0       3      1      0     7
1             1            2         1       1      1      0    71
2             2            3         1       3      0      0     7
3             3            4         1       1      1      0    53
4             4            5         0       3      0      0     8
..          ...          ...       ...     ...    ...    ...   ...
886         886          887         0       2      0      0    13
887         887          888         1       1      0      0    30
888         888          889         0       3      1      2    23
889         889          890         1       1      0      0    30
890         890          891         0       3      0      0     7

[891 rows x 7 columns]

In [37]:
df_j.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      891 non-null    int64
 1   PassengerId     891 non-null    int64
 2   Survived        891 non-null    int64
 3   Pclass          891 non-null    int64
 4   Age             714 non-null    float64
 5   SibSp           891 non-null    int64
 6   Parch           891 non-null    int64
 7   Fare            891 non-null    float64
 8   Agegroup        891 non-null    float64
 9   Marriage_label  891 non-null    int64
 10  Agegroup_label  891 non-null    int64
dtypes: float64(3), int64(8)
memory usage: 76.7 KB

In [103]:
y_df_j = df_j['Survived'] # y : 생존여부(Survived)
X_df_j = df_j.drop('Survived',axis=1) # x : 나머지 변수들

In [104]:
X_df_j

,Unnamed: 0,PassengerId,Pclass,SibSp,Parch,Fare,Agegroup,Marriage_label,Agegroup_label
0,0,1,3,1,0,7,20,2,2
1,1,2,1,1,0,71,30,0,3
2,2,3,3,0,0,7,20,1,2
3,3,4,1,1,0,53,30,0,3
4,4,5,3,0,0,8,30,2,3
...,...,...,...,...,...,...,...,...,...
886,886,887,2,0,0,13,20,2,2
887,887,888,1,0,0,30,10,1,1
888,888,889,3,1,2,23,0,1,0
889,889,890,1,0,0,30,20,2,2
890,890,891,3,0,0,7,30,2,3

In [105]:
y_df_j

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

### train, test

In [106]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df_j, y_df_j, test_size = 0.2, random_state=111)

## ML 알고리즘 - 타이타닉 생존자 예측해 보기!
- 의사결정나무 dt
- 랜덤포레스트 rf
- 로지스틱회귀 lr

In [107]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [108]:
# 변수 넣어서 진행
dt_clf = DecisionTreeClassifier(random_state=111)
rf_clf = RandomForestClassifier(random_state=111)
lr_clf = LogisticRegression(solver ='liblinear')

### 장우님

In [109]:
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, dt_pred)))

rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, rf_pred)))

lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, lr_pred)))

정확도:0.7598
정확도:0.8045
정확도:0.7765

### 세은님

In [101]:
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, dt_pred)))

rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, rf_pred)))

lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, lr_pred)))

정확도:0.7821
정확도:0.8492
정확도:0.7765

### 지원님

In [93]:
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, dt_pred)))

rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, rf_pred)))

lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_test)
print('정확도:{0:.4f}'.format(accuracy_score(y_test, lr_pred)))

정확도:0.6648
정확도:0.7039
정확도:0.6872

### 데이터분석 필수 과제 
- 새로운 데이터를 공유하면
- 정답데이터만 알려드릴테니 우리가 지금까지 배운 내용을 이용해서 머신러닝을 통해 정확도를 높여주세요!
- 핵심적인 전처리와 데이터 특성에 대한 인사이트도 꼭 정리하셔야 합니다.
- 사전에 모든 정확도를 받아 볼 예정입니다.