In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('train.csv')
df_train

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,목,16,1,107,-,0,0,50.0,...,0,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0
4701213,TRAIN_4701213,20220331,목,2,2,107,-,0,0,80.0,...,3,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0
4701214,TRAIN_4701214,20220613,월,22,2,103,일반국도12호선,0,0,60.0,...,0,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0
4701215,TRAIN_4701215,20211020,수,2,2,103,일반국도95호선,0,0,80.0,...,0,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0
4701216,TRAIN_4701216,20211019,화,6,2,107,경찰로,0,0,60.0,...,0,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0

In [3]:
# start_turn_restricted, end_turn_restricted
# 둘 다 없음, 있음의 답변을 가지므로 0,1로 바꾸어줌
df_train['start_turn_restricted'] = df_train['start_turn_restricted'].apply(lambda x: 0 if x=='없음' else 1)
df_train['start_turn_restricted']

0          0
1          1
2          0
3          0
4          0
          ..
4701212    0
4701213    0
4701214    0
4701215    0
4701216    0
Name: start_turn_restricted, Length: 4701217, dtype: int64

In [4]:
df_train['end_turn_restricted'] = df_train['end_turn_restricted'].apply(lambda x: 0 if x=='없음' else 1)
df_train['end_turn_restricted']

0          0
1          0
2          0
3          0
4          0
          ..
4701212    0
4701213    0
4701214    0
4701215    0
4701216    0
Name: end_turn_restricted, Length: 4701217, dtype: int64

In [5]:
# 'id','vehicle_restricted','height_restricted','start_node_name','end_node_name','road_name'
# id의 경우 의미가 없어서 지움
# 'vehicle_restricted','height_restricted': 모든 값이 0이라서 의미가 없음
# 'start_node_name','end_node_name': 각각 start_latitude, start_longitude / end_latitude, end_longitude로 표현가능하므로 지움.
# 'road_name': 결과값의 종류가 너무 많아서 지움
df_train.drop(['id','vehicle_restricted','height_restricted','start_node_name','end_node_name','road_name'],axis=1,inplace=True)

In [6]:
# 날짜 데이터를 분기별로 나누어서 전치리 진행
df_train['base_date'] = df_train['base_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

KeyboardInterrupt:

In [8]:
df_train['base_quarter'] = df_train['base_date'].apply(lambda x: 1 if x.month<=3 else 2 if x.month<=6 else 3 if x.month<=9 else 4)

In [9]:
# day_of_week, connect_code, weight_restricted, road_type, base_hour, base_quarter, road_rating
# 전부 원 핫 인코딩 처리
week_day = pd.get_dummies(df_train['day_of_week'])
df_train = pd.concat([df_train,week_day],axis=1)

In [10]:
connect = pd.get_dummies(df_train['connect_code'])
df_train = pd.concat([df_train,connect],axis=1)

In [11]:
weight = pd.get_dummies(df_train['weight_restricted'])
df_train = pd.concat([df_train,weight],axis=1)

In [12]:
road_type = pd.get_dummies(df_train['road_type'])
df_train = pd.concat([df_train, road_type],axis=1)

In [13]:
hour = pd.get_dummies(df_train['base_hour'])
df_train = pd.concat([df_train,hour],axis=1)

In [15]:
quarter = pd.get_dummies(df_train['base_quarter'])
df_train = pd.concat([df_train,quarter],axis=1)

In [16]:
rate = pd.get_dummies(df_train['road_rating'])
df_train = pd.concat([df_train,rate],axis=1)
df_train

,base_date,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,road_type,...,21,22,23,1,2,3,4,103,106,107
0,2022-06-23,목,17,1,106,0,0,60.0,32400.0,3,...,0,0,0,0,1,0,0,0,1,0
1,2022-07-28,목,21,2,103,0,0,60.0,0.0,0,...,1,0,0,0,0,1,0,1,0,0
2,2021-10-10,일,7,2,103,0,0,80.0,0.0,0,...,0,0,0,0,0,0,1,1,0,0
3,2022-03-11,금,13,2,107,0,0,50.0,0.0,0,...,0,0,0,1,0,0,0,0,0,1
4,2021-10-05,화,8,2,103,0,0,80.0,0.0,0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,2021-11-04,목,16,1,107,0,0,50.0,0.0,0,...,0,0,0,0,0,0,1,0,0,1
4701213,2022-03-31,목,2,2,107,0,0,80.0,43200.0,3,...,0,0,0,1,0,0,0,0,0,1
4701214,2022-06-13,월,22,2,103,0,0,60.0,0.0,0,...,0,1,0,0,1,0,0,1,0,0
4701215,2021-10-20,수,2,2,103,0,0,80.0,0.0,0,...,0,0,0,0,0,0,1,1,0,0
4701216,2021-10-19,화,6,2,107,0,0,60.0,0.0,0,...,0,0,0,0,0,0,1,0,0,1

In [17]:
df_train.drop(['base_date','day_of_week','connect_code','weight_restricted','road_type','base_hour','base_quarter','road_rating'], axis=1,inplace=True)

In [18]:
df_train.columns = [           'lane_count',          'multi_linked',
         'maximum_speed_limit',        'start_latitude',
             'start_longitude', 'start_turn_restricted',
                'end_latitude',         'end_longitude',
         'end_turn_restricted',                'target',
                           '금',                     '목',
                           '수',                     '월',
                           '일',                     '토',
                           '화',                       'code_0',
                           'code_103',                    'weight_0',
                       'weight_32400',                 'weight_43200',
                       'weight_50000',                       'road_0',
                             'road_3',                       'road_0',
                             'hour_1',                       'hour_2',
                             'hour_3',                       'hour_4',
                             'hour_5',                       'hour_6',
                             'hour_7',                       'hour_8',
                             'hour_9',                      'hour_10',
                            'hour_11',                      'hour_12',
                            'hour_13',                      'hour_14',
                            'hour_15',                      'hour_16',
                            'hour_17',                      'hour_18',
                            'hour_19',                      'hour_20',
                            'hour_21',                      'hour_22',
                            'hour_23',                       'quarter_1',
                             'quarter_2',                       'quarter_3',
                             'quarter_4',                     'rating_103',
                           'rating_106',                     'rating_107']

In [19]:
# 위도와 경도 표준화 진행
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df_train[['start_latitude','start_longitude']])
scaled = scaler.transform(df_train[['start_latitude','start_longitude']])

In [20]:
scaled

array([[ 0.42915249,  0.90127231],
       [ 1.15031961,  0.04747091],
       [-1.03922752, -0.97902704],
       ...,
       [ 0.6211995 ,  2.49987611],
       [ 0.58576093, -0.57472397],
       [-1.26017524, -0.08149915]])

In [21]:
df_train[['start_latitude','start_longitude']] = scaled

In [22]:
df_train

,lane_count,multi_linked,maximum_speed_limit,start_latitude,start_longitude,start_turn_restricted,end_latitude,end_longitude,end_turn_restricted,target,...,hour_21,hour_22,hour_23,quarter_1,quarter_2,quarter_3,quarter_4,rating_103,rating_106,rating_107
0,1,0,60.0,0.429152,0.901272,0,33.427749,126.662335,0,52.0,...,0,0,0,0,1,0,0,0,1,0
1,2,0,60.0,1.150320,0.047471,1,33.504811,126.526240,0,30.0,...,1,0,0,0,0,1,0,1,0,0
2,2,0,80.0,-1.039228,-0.979027,0,33.280072,126.362147,0,61.0,...,0,0,0,0,0,0,1,1,0,0
3,2,0,50.0,-1.365944,0.291115,0,33.245565,126.566228,0,20.0,...,0,0,0,1,0,0,0,0,0,1
4,2,0,80.0,0.769731,-1.247926,0,33.462677,126.330152,0,38.0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,1,0,50.0,0.373791,-1.557627,0,33.420955,126.273750,0,20.0,...,0,0,0,0,0,0,1,0,0,1
4701213,2,0,80.0,0.871416,-0.622360,0,33.472525,126.424890,0,65.0,...,0,0,0,1,0,0,0,0,0,1
4701214,2,0,60.0,0.621200,2.499876,0,33.444121,126.912948,0,30.0,...,0,1,0,0,1,0,0,1,0,0
4701215,2,0,80.0,0.585761,-0.574724,0,33.444996,126.433332,0,73.0,...,0,0,0,0,0,0,1,1,0,0
4701216,2,0,60.0,-1.260175,-0.081499,0,33.257130,126.510364,0,35.0,...,0,0,0,0,0,0,1,0,0,1

In [23]:
df_train.to_csv('df_train.csv', index=False, encoding='utf-8-sig')