### 시계열 데이터
- 시간에 대해 모인 자료
- 다른 데이터에 비해서 시계열적 인사이트가 있다.
- datetime 모듈
- (pandas) timedelta, Timestamp

> datetime?
> - date, time 연, 월, 일, 특정시각 등으로 나눠질 수 있는 형태

> TImestamp?
> - 단일 객체에서 날짜와 시간 모두 갖고 있다.

> timedelta?
> - 날짜에 대한 덧셈과 뺄셈 등을 계산할 때 유용하다!

In [1]:
import datetime

In [2]:
# date
date = datetime.date(year=2022, month=11, day=27)

In [3]:
date

datetime.date(2022, 11, 27)

In [4]:
# time
time = datetime.time(hour=10, minute=18, second=11, microsecond=11111)

In [5]:
time

datetime.time(10, 18, 11, 11111)

In [6]:
# datetime
dt = datetime.datetime(year=2022, month=11, day=27, 
                       hour=10, minute=18, second=11, microsecond=11111)

In [7]:
dt

datetime.datetime(2022, 11, 27, 10, 18, 11, 11111)

In [8]:
print(date)
print(time)
print(dt)

2022-11-27
10:18:11.011111
2022-11-27 10:18:11.011111

In [9]:
# timedelta
df_dt = datetime.timedelta(weeks=4, days=11, hours=10, minutes=5, seconds=23)

In [10]:
df_dt

datetime.timedelta(days=39, seconds=36323)

In [11]:
date + df_dt # 덧셈 연산 가능

datetime.date(2023, 1, 5)

In [12]:
import pandas as pd

In [13]:
# Timestamp
pd.Timestamp(year=2022, month=11, day=27, hour=22, minute=22, second=20)

Timestamp('2022-11-27 22:22:20')

In [14]:
pd.Timestamp(2022/11/27)

Timestamp('1970-01-01 00:00:00.000000006')

In [15]:
pd.Timestamp(+100)

Timestamp('1970-01-01 00:00:00.000000100')

In [16]:
pd.Timestamp(+100, unit='M')

Timestamp('1978-05-02 16:30:00')

In [17]:
pd.Timestamp(+100, unit='Y')

Timestamp('2069-12-31 06:00:00')

### 시계열 데이터 분석에서 가장 많이 사용할!
- to_datetime!
- 동작은 Timestamp랑 비슷하다!

In [18]:
pd.to_datetime("2022-11-27")

Timestamp('2022-11-27 00:00:00')

In [19]:
# 값을 조절할 수 있다.
pd.to_datetime(100, unit='D', origin='2020-11-27')

Timestamp('2021-03-07 00:00:00')

In [20]:
df = pd.Series([0,1,10,100,1000,1000,10000])

In [21]:
df

0        0
1        1
2       10
3      100
4     1000
5     1000
6    10000
dtype: int64

In [22]:
pd.to_datetime(df, unit='D')
# 1970/1/1 날을 기준으로 원하는 day만큼 더해져서 값이 계산된다.

0   1970-01-01
1   1970-01-02
2   1970-01-11
3   1970-04-11
4   1972-09-27
5   1972-09-27
6   1997-05-19
dtype: datetime64[ns]

### 시계열 데이터를 만들어야 한다!
- 대부분 불러온다: csv, excel
- 시계열 데이터 형식이 필요하다!

In [23]:
dt_time = pd.Series(["2022-11-27","27-11-2022","27/11/2022","35/12/2022"])

In [24]:
dt_time

0    2022-11-27
1    27-11-2022
2    27/11/2022
3    35/12/2022
dtype: object

In [25]:
pd.to_datetime(dt_time, errors="coerce") # 에러를 na값으로 바꾼다.

C:\Users\doram\AppData\Local\Temp\ipykernel_10876\215766526.py:1: UserWarning: Parsing '27-11-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(dt_time, errors="coerce") # 에러를 na값으로 바꾼다.
C:\Users\doram\AppData\Local\Temp\ipykernel_10876\215766526.py:1: UserWarning: Parsing '27/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(dt_time, errors="coerce") # 에러를 na값으로 바꾼다.

0   2022-11-27
1   2022-11-27
2   2022-11-27
3          NaT
dtype: datetime64[ns]

### 실제 데이터를 가지고 시계열 데이터를 분석해보자!

In [26]:
crime = pd.read_csv("crime.csv")

In [27]:
crime

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

### 시계열 데이터를 만들기 위해서는
- 데이터프레임에서 시계열 형태의 컬럼을 찾고, 그 컬럼을 꼭 datetime으로 바꿔줘야한다!

In [28]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  object
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 31.6+ MB

In [29]:
crime["REPORTED_DATE"] # 문자열 형태로 있음

0         2014-06-29 02:01:00
1         2014-06-29 01:54:00
2         2014-06-29 02:00:00
3         2014-06-29 02:18:00
4         2014-06-29 04:17:00
                 ...
460906    2017-09-13 05:48:00
460907    2017-09-12 20:37:00
460908    2017-09-12 16:32:00
460909    2017-09-12 13:04:00
460910    2017-09-12 09:30:00
Name: REPORTED_DATE, Length: 460911, dtype: object

In [30]:
crime["REPORTED_DATE"] = pd.to_datetime(crime["REPORTED_DATE"])

In [31]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  datetime64[ns]
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 31.6+ MB

### 해당 컬럼을 datetime으로 변경 후!
- 인덱스 기준 설정! 인덱스를 시계열 데이터로 만들자!

In [32]:
crime_df = crime.set_index("REPORTED_DATE") # 시계열 컬럼을 인덱스로 사용

In [33]:
crime_df

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 02:01:00,0,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,1,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,2,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,3,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0
2017-09-12 20:37:00,460907,weapon-unlawful-discharge-of,all-other-crimes,-105.040313,39.721264,barnum-west,1,0
2017-09-12 16:32:00,460908,traf-habitual-offender,all-other-crimes,-104.847024,39.779596,montbello,1,0
2017-09-12 13:04:00,460909,criminal-mischief-other,public-disorder,-104.949183,39.756353,skyland,1,0
2017-09-12 09:30:00,460910,theft-other,larceny,-104.985739,39.735045,capitol-hill,1,0

In [34]:
# 시계열 데이터를 인덱스로 변경한 후에는 슬라이싱, 원하는 요일, 연도 등을 자유롭게 추출할 수 있다.
crime_df.loc["2014"]

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 02:01:00,0,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,1,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,2,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,3,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...
2014-01-21 07:32:00,457344,traffic-accident,traffic-accident,-104.998902,39.711204,baker,0,1
2014-05-22 10:55:00,457385,harassment-dv,public-disorder,-104.905262,39.724593,hilltop,1,0
2014-01-20 17:27:00,457769,traffic-accident,traffic-accident,-104.968227,39.739752,cheesman-park,0,1
2014-01-02 10:44:00,458291,theft-from-bldg,larceny,-105.046018,39.720992,barnum-west,1,0
2014-08-26 07:16:00,458670,theft-of-motor-vehicle,auto-theft,-105.029423,39.688665,mar-lee,1,0

In [35]:
crime_df.loc["2014-02"]

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-02-10 07:21:00,73,criminal-mischief-mtr-veh,public-disorder,-104.986516,39.778080,globeville,1,0
2014-02-28 19:13:00,153,traf-other,all-other-crimes,-104.967181,39.763246,cole,1,0
2014-02-28 20:54:00,154,theft-shoplift,larceny,-104.993055,39.746038,cbd,1,0
2014-02-28 20:54:00,155,assault-simple,other-crimes-against-persons,-104.923881,39.763476,northeast-park-hill,1,0
2014-02-28 19:54:00,156,traffic-accident,traffic-accident,-104.987299,39.751191,five-points,0,1
...,...,...,...,...,...,...,...,...
2014-02-12 09:01:00,433114,fraud-identity-theft,white-collar-crime,-104.749042,39.776741,gateway-green-valley-ranch,1,0
2014-02-03 12:11:00,437567,theft-of-motor-vehicle,auto-theft,-105.049584,39.672661,harvey-park,1,0
2014-02-19 12:13:00,438765,criminal-mischief-other,public-disorder,-105.021763,39.673834,college-view-south-platte,1,0
2014-02-04 07:25:00,441199,theft-other,larceny,-104.975009,39.733512,capitol-hill,1,0
2014-02-19 14:30:00,447953,theft-other,larceny,-105.015889,39.770512,sunnyside,1,0

In [36]:
crime_df.loc["2014-02-01"]

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-02-01 02:27:00,1367,traffic-accident-dui-duid,traffic-accident,-105.025194,39.784383,berkeley,0,1
2014-02-01 22:30:00,79316,drug-methampetamine-possess,drug-alcohol,-104.936975,39.738659,hale,1,0
2014-02-01 21:17:00,79794,theft-other,larceny,-104.997358,39.739740,civic-center,1,0
2014-02-01 13:16:00,81242,theft-shoplift,larceny,-104.906232,39.699099,washington-virginia-vale,1,0
2014-02-01 13:47:00,84901,traffic-accident,traffic-accident,-105.038969,39.738642,west-colfax,0,1
...,...,...,...,...,...,...,...,...
2014-02-01 16:44:00,299653,traffic-accident,traffic-accident,-104.922294,39.778718,northeast-park-hill,0,1
2014-02-01 10:55:00,299730,theft-other,larceny,-104.904894,39.754940,north-park-hill,1,0
2014-02-01 00:16:00,301112,vehicular-eluding-no-chase,all-other-crimes,-105.007405,39.684860,ruby-hill,1,0
2014-02-01 19:04:00,304086,traf-other,all-other-crimes,-104.835910,39.786276,montbello,1,0
2014-02-01 19:54:00,306957,traffic-accident-hit-and-run,traffic-accident,-104.918259,39.653079,hampden-south,0,1

In [37]:
crime_df.loc["Dec 2014"] # 영어로도 가능

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-19 17:42:00,1219,traffic-accident,traffic-accident,-104.940355,39.781688,northeast-park-hill,0,1
2014-12-06 08:25:00,1225,disturbing-the-peace,public-disorder,-104.817529,39.773653,montbello,1,0
2014-12-19 08:29:00,1301,burglary-residence-no-force,burglary,-104.901114,39.729047,lowry-field,1,0
2014-12-01 22:13:00,1322,liquor-possession,drug-alcohol,-104.966870,39.738576,cheesman-park,1,0
2014-12-30 08:26:00,1341,theft-items-from-vehicle,theft-from-motor-vehicle,-105.037817,39.771111,berkeley,1,0
...,...,...,...,...,...,...,...,...
2014-12-18 22:36:00,377801,criminal-trespassing,all-other-crimes,-104.999197,39.739042,lincoln-park,1,0
2014-12-10 19:35:00,377834,assault-simple,other-crimes-against-persons,-105.033088,39.706098,westwood,1,0
2014-12-16 13:51:00,379049,assault-simple,other-crimes-against-persons,-104.921734,39.753780,north-park-hill,1,0
2014-12-20 08:37:00,416416,drug-methampetamine-sell,drug-alcohol,-105.008755,39.697055,athmar-park,1,0
2014-12-16 13:06:00,427420,harassment,public-disorder,-104.985507,39.730838,capitol-hill,1,0

In [38]:
crime_df.loc["Dec 2014"].sort_index() # 정렬도 가능

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-01 00:01:00,178089,theft-items-from-vehicle,theft-from-motor-vehicle,-104.904967,39.701152,washington-virginia-vale,1,0
2014-12-01 00:19:00,216781,traf-other,all-other-crimes,-105.024963,39.677701,college-view-south-platte,1,0
2014-12-01 00:28:00,216778,theft-shoplift,larceny,-105.053677,39.675409,harvey-park,1,0
2014-12-01 00:33:00,2852,theft-of-services,larceny,-105.052872,39.710916,westwood,1,0
2014-12-01 00:47:00,179534,liquor-possession,drug-alcohol,-104.932821,39.754674,north-park-hill,1,0
...,...,...,...,...,...,...,...,...
2014-12-31 23:59:00,126879,theft-of-motor-vehicle,auto-theft,-105.031583,39.712121,barnum,1,0
2014-12-31 23:59:00,148309,traffic-accident,traffic-accident,-105.040484,39.751199,sloan-lake,0,1
2014-12-31 23:59:00,226091,weapon-carrying-concealed,all-other-crimes,-105.017647,39.718170,valverde,1,0
2014-12-31 23:59:00,226092,disturbing-the-peace,public-disorder,-105.017647,39.718170,valverde,1,0
2014-12-31 23:59:00,97411,assault-dv,other-crimes-against-persons,-105.017647,39.718170,valverde,1,0

In [39]:
crime_df.loc["2014-12-01":"2014-12-25"]

C:\Users\doram\AppData\Local\Temp\ipykernel_10876\3181444526.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  crime_df.loc["2014-12-01":"2014-12-25"]

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-19 17:42:00,1219,traffic-accident,traffic-accident,-104.940355,39.781688,northeast-park-hill,0,1
2014-12-06 08:25:00,1225,disturbing-the-peace,public-disorder,-104.817529,39.773653,montbello,1,0
2014-12-19 08:29:00,1301,burglary-residence-no-force,burglary,-104.901114,39.729047,lowry-field,1,0
2014-12-01 22:13:00,1322,liquor-possession,drug-alcohol,-104.966870,39.738576,cheesman-park,1,0
2014-12-23 15:11:00,1407,theft-other,larceny,-104.885194,39.697336,windsor,1,0
...,...,...,...,...,...,...,...,...
2014-12-18 22:36:00,377801,criminal-trespassing,all-other-crimes,-104.999197,39.739042,lincoln-park,1,0
2014-12-10 19:35:00,377834,assault-simple,other-crimes-against-persons,-105.033088,39.706098,westwood,1,0
2014-12-16 13:51:00,379049,assault-simple,other-crimes-against-persons,-104.921734,39.753780,north-park-hill,1,0
2014-12-20 08:37:00,416416,drug-methampetamine-sell,drug-alcohol,-105.008755,39.697055,athmar-park,1,0
2014-12-16 13:06:00,427420,harassment,public-disorder,-104.985507,39.730838,capitol-hill,1,0

In [40]:
crime_df.loc["2014-12-01 17:42:00":"2014-12-25 22:36:00"]

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-19 17:42:00,1219,traffic-accident,traffic-accident,-104.940355,39.781688,northeast-park-hill,0,1
2014-12-06 08:25:00,1225,disturbing-the-peace,public-disorder,-104.817529,39.773653,montbello,1,0
2014-12-19 08:29:00,1301,burglary-residence-no-force,burglary,-104.901114,39.729047,lowry-field,1,0
2014-12-01 22:13:00,1322,liquor-possession,drug-alcohol,-104.966870,39.738576,cheesman-park,1,0
2014-12-23 15:11:00,1407,theft-other,larceny,-104.885194,39.697336,windsor,1,0
...,...,...,...,...,...,...,...,...
2014-12-18 22:36:00,377801,criminal-trespassing,all-other-crimes,-104.999197,39.739042,lincoln-park,1,0
2014-12-10 19:35:00,377834,assault-simple,other-crimes-against-persons,-105.033088,39.706098,westwood,1,0
2014-12-16 13:51:00,379049,assault-simple,other-crimes-against-persons,-104.921734,39.753780,north-park-hill,1,0
2014-12-20 08:37:00,416416,drug-methampetamine-sell,drug-alcohol,-105.008755,39.697055,athmar-park,1,0
2014-12-16 13:06:00,427420,harassment,public-disorder,-104.985507,39.730838,capitol-hill,1,0

In [41]:
crime_df.loc["2014-12-01 17:42:00":"2014-12-25 22:36:00"].sort_index()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-01 17:42:00,223999,burglary-residence-by-force,burglary,-104.926049,39.686791,virginia-village,1,0
2014-12-01 17:44:00,226755,criminal-mischief-other,public-disorder,-104.982286,39.718799,speer,1,0
2014-12-01 17:47:00,233880,traffic-accident,traffic-accident,-105.028322,39.682250,harvey-park,0,1
2014-12-01 17:49:00,237214,drug-cocaine-sell,drug-alcohol,-105.027373,39.682254,harvey-park,1,0
2014-12-01 18:01:00,134289,traffic-accident,traffic-accident,-104.916153,39.735107,montclair,0,1
...,...,...,...,...,...,...,...,...
2014-12-25 21:35:00,237425,traffic-accident,traffic-accident,-104.994970,39.768017,globeville,0,1
2014-12-25 21:38:00,86962,traffic-accident,traffic-accident,-104.918259,39.653079,hampden-south,0,1
2014-12-25 21:42:00,237428,traffic-accident-hit-and-run,traffic-accident,-104.973419,39.690000,washington-park-west,0,1
2014-12-25 22:23:00,194297,traffic-accident-hit-and-run,traffic-accident,-105.035557,39.700348,westwood,0,1
2014-12-25 22:33:00,157839,burglary-residence-by-force,burglary,-104.809309,39.788262,gateway-green-valley-ranch,1,0

### datetime index만 작동하는 메서드!

In [42]:
# 원하는 시간대 기간(범위)를 출력
crime_df.between_time("10:00","18:00").sort_index()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 10:07:00,419591,traffic-accident,traffic-accident,-104.987420,39.744885,cbd,0,1
2012-01-02 10:21:00,430560,robbery-business,robbery,-104.987952,39.680818,overland,1,0
2012-01-02 10:55:00,73412,traffic-accident-hit-and-run,traffic-accident,-105.039614,39.718941,barnum,0,1
2012-01-02 11:05:00,41185,aggravated-assault,aggravated-assault,-104.884971,39.741441,east-colfax,1,0
2012-01-02 11:32:00,52674,theft-parts-from-vehicle,theft-from-motor-vehicle,-105.041071,39.699543,westwood,1,0
...,...,...,...,...,...,...,...,...
2017-09-28 17:53:00,454290,robbery-bank,robbery,-104.882366,39.652780,hampden-south,1,0
2017-09-28 17:55:00,455319,traffic-accident,traffic-accident,-104.986774,39.728169,capitol-hill,0,1
2017-09-28 17:59:00,454680,burglary-residence-by-force,burglary,-104.942349,39.709999,belcaro,1,0
2017-09-28 17:59:00,454678,theft-pick-pocket,larceny,-104.999568,39.747351,union-station,1,0
2017-09-28 18:00:00,455331,traffic-accident,traffic-accident,-105.025278,39.757250,sloan-lake,0,1

In [43]:
# 내가 원하는 시간도 추출할 수 있음
crime_df.at_time("17:53").sort_index()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-04 17:53:00,446857,traffic-accident,traffic-accident,-104.950412,39.684857,cory-merrill,0,1
2012-01-27 17:53:00,355527,assault-simple,other-crimes-against-persons,-104.902974,39.687305,indian-creek,1,0
2012-02-16 17:53:00,449328,burglary-residence-no-force,burglary,-105.014363,39.785280,chaffee-park,1,0
2012-02-23 17:53:00,71305,traffic-accident,traffic-accident,-104.958671,39.667523,wellshire,0,1
2012-03-09 17:53:00,74571,traffic-accident-hit-and-run,traffic-accident,-104.999338,39.742312,cbd,0,1
...,...,...,...,...,...,...,...,...
2017-09-13 17:53:00,458740,drug-methampetamine-possess,drug-alcohol,-105.052830,39.739829,west-colfax,1,0
2017-09-20 17:53:00,456580,theft-parts-from-vehicle,theft-from-motor-vehicle,-104.833679,39.774632,montbello,1,0
2017-09-24 17:53:00,457867,theft-bicycle,larceny,-104.935978,39.729988,hale,1,0
2017-09-25 17:53:00,457094,traffic-accident-hit-and-run,traffic-accident,-104.988880,39.725650,baker,0,1
2017-09-28 17:53:00,454290,robbery-bank,robbery,-104.882366,39.652780,hampden-south,1,0

### 필수과제1
### offsets, first 외 다양한 문법들 찾아보기! 5개 이상 찾기
- 시계열 데이터 문법
- 직장인들 일하는 날
- 유용한 문법을 공유해주세요!

In [44]:
# 정렬을 해야 되는 문법이 많음
crime_df_new = crime_df.sort_index()

In [45]:
crime_df_new.first(pd.offsets.MonthEnd(5))

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-05-30 22:54:00,445015,traffic-accident,traffic-accident,-104.979155,39.779398,globeville,0,1
2012-05-30 23:07:00,419708,theft-other,larceny,-105.017810,39.768845,highland,1,0
2012-05-30 23:19:00,364321,burglary-residence-by-force,burglary,-105.033337,39.718878,barnum,1,0
2012-05-30 23:19:00,42971,traffic-accident,traffic-accident,-104.962581,39.756376,whittier,0,1
2012-05-30 23:39:00,47527,burglary-business-no-force,burglary,-104.987214,39.670031,rosedale,1,0

In [46]:
crime_df_new.first("5D")

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-01-06 23:11:00,44614,theft-items-from-vehicle,theft-from-motor-vehicle,-104.999752,39.726081,lincoln-park,1,0
2012-01-06 23:23:00,71968,violation-of-restraining-order,all-other-crimes,-104.969588,39.681135,university,1,0
2012-01-06 23:30:00,425408,assault-dv,other-crimes-against-persons,-104.958983,39.674135,university-park,1,0
2012-01-06 23:44:00,36352,theft-of-motor-vehicle,auto-theft,-104.845356,39.794035,montbello,1,0
2012-01-06 23:55:00,367849,threats-to-injure,public-disorder,-105.004788,39.708714,athmar-park,1,0

In [47]:
crime_df_new.first("5B")

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-01-05 22:27:00,56862,criminal-mischief-graffiti,public-disorder,-104.981969,39.739094,capitol-hill,1,0
2012-01-05 22:32:00,185647,traffic-accident-hit-and-run,traffic-accident,-104.969107,39.733848,cheesman-park,0,1
2012-01-05 23:40:00,45595,harassment,public-disorder,-104.962264,39.681313,university,1,0
2012-01-05 23:43:00,366764,theft-of-motor-vehicle,auto-theft,-104.984986,39.775572,globeville,1,0
2012-01-06 00:06:00,445478,theft-items-from-vehicle,theft-from-motor-vehicle,-105.042365,39.708765,westwood,1,0

In [48]:
crime_df_new.first("10W")

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-03-10 22:24:00,39022,assault-dv,other-crimes-against-persons,-105.012305,39.697091,athmar-park,1,0
2012-03-10 22:31:00,166080,theft-of-motor-vehicle,auto-theft,-104.921551,39.676420,goldsmith,1,0
2012-03-10 23:21:00,98737,traffic-accident,traffic-accident,-104.999462,39.678501,college-view-south-platte,0,1
2012-03-10 23:51:00,404458,burglary-residence-by-force,burglary,-104.975872,39.764120,five-points,1,0
2012-03-10 23:55:00,146265,robbery-car-jacking,robbery,-105.025184,39.710679,westwood,1,0

### 필수과제2
- 시계열 데이터를 가지고 요일을 추출하는 것을 구글링해서 컬럼을 만들어주세요!
- 요일 컬럼 만들어서 공유!

In [49]:
crime_df_new

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2017-09-29 03:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-29 03:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-29 04:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-29 04:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-29 06:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

In [50]:
# resample
# 주간, 월간, 월별 값을 계산
crime_df_new.resample('W').mean() # 주별 평균

                  Unnamed: 0     GEO_LON    GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08     218531.472064 -104.965796  39.728030  0.628278    0.371722
2012-01-15     205598.265173 -104.966874  39.726432  0.560224    0.439776
2012-01-22     217618.286579 -104.962866  39.730511  0.659939    0.340061
2012-01-29     221920.144737 -104.970680  39.723666  0.662955    0.337045
2012-02-05     235994.202703 -104.967477  39.726719  0.603604    0.396396
...                      ...         ...        ...       ...         ...
2017-09-03     454529.199898 -104.964136  39.731994  0.745399    0.256135
2017-09-10     454164.148298 -104.965244  39.733572  0.755338    0.245239
2017-09-17     455671.037955 -104.960476  39.735861  0.745951    0.254555
2017-09-24     457439.880914 -104.962689  39.734208  0.724307    0.276237
2017-10-01     454175.834750 -104.960953  39.731773  0.711048    0.289896

[300 rows x 5 columns]

In [51]:
crime_df_new.resample('W').sum() # 주별 합

               Unnamed: 0        GEO_LON       GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08      191652101  -91635.139692  34682.570497       551         326
2012-01-15      220195742 -111684.754272  42268.923393       600         471
2012-01-22      215659722 -103388.422802  39134.553291       654         337
2012-01-29      219257103 -103291.149015  39088.087322       655         333
2012-02-05      209562852  -92791.249567  35118.419732       536         352
...                   ...            ...           ...       ...         ...
2017-09-03      889059115 -203945.315495  77199.264287      1458         501
2017-09-10      787066469 -180435.254668  68302.010126      1309         425
2017-09-17      900405971 -205722.532391  77882.287423      1474         503
2017-09-24      841231941 -191451.945029  72475.194889      1332         508
2017-10-01      480972209 -110628.844977  41877.289235       753         307

[300 rows x 5 columns]

In [52]:
crime_df_new.resample('W').median() # 주별 중앙값

               Unnamed: 0     GEO_LON    GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08       129206.0 -104.977889  39.734972       1.0         0.0
2012-01-15        83877.0 -104.978361  39.732223       1.0         0.0
2012-01-22       108363.0 -104.979947  39.736874       1.0         0.0
2012-01-29       143252.0 -104.985847  39.729283       1.0         0.0
2012-02-05       185638.0 -104.979646  39.734532       1.0         0.0
...                   ...         ...        ...       ...         ...
2017-09-03       454831.5 -104.982116  39.739897       1.0         0.0
2017-09-10       454014.0 -104.983935  39.739848       1.0         0.0
2017-09-17       456064.5 -104.980508  39.740153       1.0         0.0
2017-09-24       458245.0 -104.982360  39.740019       1.0         0.0
2017-10-01       454312.0 -104.979820  39.739243       1.0         0.0

[300 rows x 5 columns]

In [53]:
crime_df_new.resample('W').min() # 주별 최솟값

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-08,2195,agg-aslt-police-weapon,aggravated-assault,-105.095211,39.614420,athmar-park,0,0
2012-01-15,436,aggravated-assault,aggravated-assault,-105.106456,39.614990,athmar-park,0,0
2012-01-22,937,accessory-conspiracy-to-crime,aggravated-assault,-105.098517,39.615436,athmar-park,0,0
2012-01-29,386,aggravated-assault,aggravated-assault,-105.206197,39.615461,athmar-park,0,0
2012-02-05,21,aggravated-assault,aggravated-assault,-105.104709,39.625771,athmar-park,0,0
...,...,...,...,...,...,...,...,...
2017-09-03,176327,agg-aslt-police-weapon,aggravated-assault,-105.206197,39.614990,athmar-park,0,0
2017-09-10,193934,accessory-conspiracy-to-crime,aggravated-assault,-105.206197,39.614407,athmar-park,0,0
2017-09-17,89011,agg-aslt-police-weapon,aggravated-assault,-105.206197,39.615750,athmar-park,0,0
2017-09-24,112711,agg-aslt-police-weapon,aggravated-assault,-105.094463,39.615750,athmar-park,0,0
2017-10-01,191519,agg-aslt-police-weapon,aggravated-assault,-105.206197,39.615750,athmar-park,0,0

In [54]:
crime_df_new.resample('Y').min() # 연도별 최솟값

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-12-31,16,accessory-conspiracy-to-crime,aggravated-assault,-105.206257,39.127499,athmar-park,0,0
2013-12-31,11,accessory-conspiracy-to-crime,aggravated-assault,-105.206257,39.614406,athmar-park,0,0
2014-12-31,0,accessory-conspiracy-to-crime,aggravated-assault,-105.206197,39.614406,athmar-park,0,0
2015-12-31,1213,accessory-conspiracy-to-crime,aggravated-assault,-105.300593,0.000001,athmar-park,0,0
2016-12-31,1205,accessory-conspiracy-to-crime,aggravated-assault,-105.232477,0.000001,athmar-park,0,0
2017-12-31,7261,accessory-conspiracy-to-crime,aggravated-assault,-105.206197,0.000001,athmar-park,0,0

### 23년 1월 이후 수업 진행
### 필수과제3 데이터 분석 보고서 작성
- 고객 장바구니 데이터
- 기한: 2023년 1월 첫수업 진행 전까지
- 분석 방향: 시계열 데이터를 만들고 다양한 인사이트를 도출해 주세요!
- 응용 분석 가능하신 분: RFM, 장바구니 분석(apriori, Fb-growth), 비지도학습(클러스터링, k-means, gmm), 시각화 필수!
- 주의사항: 코드 작성 후 주석처리 필수, 본인의 코드에 대한 이해를 가지고 인사이트를 꼭 적어주셔야 합니다!